/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 13, 2025, 5:00:00 PM
    Author     : Wuan Hi Dep Trai
*/

.main{
    -fx-background-color: #000000;
    -fx-padding: 10;
    -fx-alignment: CENTER; 
    -fx-spacing: 10;
}
.title{
    -fx-font-size: 35; 
    -fx-fill: lightyellow; 
    -fx-stroke: #00CED1;
    -fx-stroke-width: 4;
}
.button{
    -fx-font-size: 18;
    -fx-background-color: lightslategray;
    -fx-text-fill: lightyellow;
    -fx-font-weight: bold;
    -fx-pref-width: 250;
}